<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

	<parameter name="URL" value="youtube.com" />

	<test name="Test on Chrome">
		<parameter name="BrowserType" value="Chrome" />
		<classes>
			<class name="com.rockor.selenium.CrossBrowserTesting" />
		</classes>
	</test>
	
	<test name="Test on Firefox">
		<parameter name="BrowserType" value="Firefox" />
		<classes>
			<class name="com.rockor.selenium.CrossBrowserTesting" />
		</classes>
	</test>
	
	<test name="Test on IE">
		<parameter name="BrowserType" value="Internet Explorer" />
		<classes>
			<class name="com.rockor.selenium.CrossBrowserTesting" />
		</classes>
	</test>
	
	
</suite> 
